#top {
    color: green;
    font-weight: bold;
    font-style: normal;
    font-size: larger;
}

#intro {
    font-size:24px;
    font-weight: bold;
}

#wave {
    font-size:60px;
    margin-left:60px;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-name: shake;
    display: inline-block;
    transform-origin: 70% 70%;
}

@keyframes shake {
    0% {
        transform:rotate(0deg);
    }
    10% {
        transform:rotate(-9deg);
    }
    20% {
        transform:rotate(10deg);
    }
    30% {
        transform:rotate(-10deg);
    }
    40% {
        transform:rotate(10deg);
    }
    50% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(0deg);
    }
}

.boxedtext {
    border: 5px solid lightblue;
    padding: 10px;
    margin: 10px;
}

.to-do {
    text-align: center;
}

.img_center {
    display:block;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.display_txt {
    margin-left:50px;
    font-family:'Trebuchet MS';
}

.hidden {
    display: none;
}